.App {
  margin: 10px auto;
  position: relative;

}

.header {
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
}

.header h1 {
  margin: 0 auto;
  text-align: center;
}

.header {
  height: 100px;
  z-index: 1000;
}

.header button {
  margin: 0 auto;
  outline: none;
  background-color: darkslategrey;
  color: aliceblue;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid rgb(23, 39, 39);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  font: inherit;
  cursor: pointer;
}

.canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
